<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.GoodsDao">

    <insert id="save" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.GoodsEntity"
            useGeneratedKeys="true">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="bigImgs != null">
                big_imgs,
            </if>
            <if test="goodsBrand != null">
                goods_brand,
            </if>
            <if test="goodsBrandLogo != null">
                goods_brand_logo,
            </if>
            <if test="goodsContent != null">
                goods_content,
            </if>
            <if test="goodsVideo != null">
                goods_video,
            </if>
            <if test="goodsDescription != null">
                goods_description,
            </if>
            <if test="belongClassifyIds != null">
                belong_classify_ids,
            </if>
            <if test="goodsTags != null">
                goods_tags,
            </if>
            <if test="topSort != null">
                top_sort,
            </if>
            <if test="originalPrice != null">
                original_price,
            </if>
            <if test="currentPrice != null">
                current_price,
            </if>
            <if test="stockUnit != null">
                stock_unit,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsName != null">
                #{goodsName},
            </if>
            <if test="bigImgs != null">
                #{bigImgs},
            </if>
            <if test="goodsBrand != null">
                #{goodsBrand},
            </if>
            <if test="goodsBrandLogo != null">
                #{goodsBrandLogo},
            </if>
            <if test="goodsContent != null">
                #{goodsContent},
            </if>
            <if test="goodsVideo != null">
                #{goodsVideo},
            </if>
            <if test="goodsDescription != null">
                #{goodsDescription},
            </if>
            <if test="belongClassifyIds != null">
                #{belongClassifyIds},
            </if>
            <if test="goodsTags != null">
                #{goodsTags},
            </if>
            <if test="topSort != null">
                #{topSort},
            </if>
            <if test="originalPrice != null">
                #{originalPrice},
            </if>
            <if test="currentPrice != null">
                #{currentPrice},
            </if>
            <if test="stockUnit != null">
                #{stockUnit},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.GoodsEntity">
        update goods
        <set>
            <if test="goodsName != null">
                goods_name = #{goodsName},
            </if>
            <if test="bigImgs != null">
                big_imgs = #{bigImgs},
            </if>
            <if test="goodsBrand != null">
                goods_brand = #{goodsBrand},
            </if>
            <if test="goodsBrandLogo != null">
                goods_brand_logo = #{goodsBrandLogo},
            </if>
            <if test="goodsContent != null">
                goods_content = #{goodsContent},
            </if>
            <if test="goodsVideo != null">
                goods_video = #{goodsVideo},
            </if>
            <if test="goodsDescription != null">
                goods_description = #{goodsDescription},
            </if>
            <if test="belongClassifyIds != null">
                belong_classify_ids = #{belongClassifyIds},
            </if>
            <if test="goodsTags != null">
                goods_tags = #{goodsTags},
            </if>
            <if test="topSort != null">
                top_sort = #{topSort},
            </if>
            <if test="originalPrice != null">
                original_price = #{originalPrice},
            </if>
            <if test="currentPrice != null">
                current_price = #{currentPrice},
            </if>
            <if test="stockUnit != null">
                stock_unit = #{stockUnit},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where unique_id = #{uniqueId}
    </update>

    <select id="getById" resultType="cn.shop.mall.center.entity.GoodsEntity">
        select * from goods where deleted = 0 and unique_id = #{uniqueId}
    </select>

    <select id="list" resultType="cn.shop.mall.center.entity.GoodsEntity">
        select * from goods
        <where>
            <if test="true">
                and deleted = 0
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="goodsTag != null and goodsTag != ''">
                and json_contains(goods_tags,JSON_ARRAY(#{goodsTag}))
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goods_name like concat('%', #{goodsName}, '%')
            </if>
            <if test="belongClassifyId != null">
                and json_contains(belong_classify_ids,JSON_ARRAY(#{belongClassifyId}))
            </if>
        </where>
        order by create_date desc
        limit #{offset},#{limit}
    </select>

    <select id="querGoods" parameterType="cn.shop.mall.center.entity.GoodsEntity" resultType="cn.shop.mall.center.entity.GoodsEntity">
        select a.*,b.goods_stock from goods a
        left join goods_sku b on a.unique_id=b.goods_unique_id
        <where>
            a.deleted=0 and a.status=1
            <if test="goodsName!=null">
                and goods_name like concat('%', #{goodsName}, '%')
            </if>
            <if test="belongClassifyId!=null">
                and json_contains(belong_classify_ids,JSON_ARRAY(#{belongClassifyId}))
            </if>
        </where>
        order by top_sort limit #{offset}, #{limit}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1) from goods
        <where>
            <if test="true">
                and deleted = 0
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="goodsTag != null and goodsTag != ''">
                and json_contains(goods_tags,JSON_ARRAY(#{goodsTag}))
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goods_name like concat('%', #{goodsName}, '%')
            </if>
            <if test="belongClassifyId != null">
                and json_contains(belong_classify_ids,JSON_ARRAY(#{belongClassifyId}))
            </if>
        </where>
    </select>
</mapper>