<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.GoodsClassifyDao">

    <insert id="save" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.GoodsClassifyEntity"
            useGeneratedKeys="true">
        insert into goods_classify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uniqueId != null">
                unique_id,
            </if>
            <if test="classifyName != null">
                classify_name,
            </if>
            <if test="classifyParentId != null">
                classify_parent_id,
            </if>
            <if test="classifyIcon != null">
                classify_icon,
            </if>
            <if test="classifyDescription != null">
                classify_description,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uniqueId != null">
                #{uniqueId},
            </if>
            <if test="classifyName != null">
                #{classifyName},
            </if>
            <if test="classifyParentId != null">
                #{classifyParentId},
            </if>
            <if test="classifyIcon != null">
                #{classifyIcon},
            </if>
            <if test="classifyDescription != null">
                #{classifyDescription},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.GoodsClassifyEntity">
        update goods_classify
        <set>
            <if test="uniqueId != null">
                unique_id = #{uniqueId},
            </if>
            <if test="classifyName != null">
                classify_name = #{classifyName},
            </if>
            <if test="classifyParentId != null">
                classify_parent_id = #{classifyParentId},
            </if>
            <if test="classifyIcon != null">
                classify_icon = #{classifyIcon},
            </if>
            <if test="classifyDescription != null">
                classify_description = #{classifyDescription},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where unique_id = #{uniqueId}
    </update>
</mapper>