<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.GoodsPropertyValueDao">

    <insert id="save" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.GoodsPropertyValueEntity"
            useGeneratedKeys="true">
        insert into goods_property_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsPropertyKeyUniqueId != null">
                goods_property_key_unique_id,
            </if>
            <if test="propertyValue != null">
                property_value,
            </if>
            <if test="priceIncrease != null">
                price_increase,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsPropertyKeyUniqueId != null">
                #{goodsPropertyKeyUniqueId},
            </if>
            <if test="propertyValue != null">
                #{propertyValue},
            </if>
            <if test="priceIncrease != null">
                #{priceIncrease},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.GoodsPropertyValueEntity">
        update goods_property_value
        <set>
            <if test="goodsPropertyKeyUniqueId != null">
                goods_property_key_unique_id = #{goodsPropertyKeyUniqueId},
            </if>
            <if test="propertyValue != null">
                property_value = #{propertyValue},
            </if>
            <if test="priceIncrease != null">
                price_increase = #{priceIncrease},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where unique_id = #{uniqueId}
    </update>

    <select id="listByKeyIds" resultType="cn.shop.mall.center.entity.GoodsPropertyValueEntity">
        select
            a.*,b.property_name,b.property_key
        from
            goods_property_value as a
        left join
            goods_property_key as b on a.goods_property_key_unique_id = b.unique_id
        where
            a.goods_property_key_unique_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>