<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.GoodsSkuDao">

    <insert id="save" keyColumn="id" keyProperty="id" parameterType="cn.shop.mall.center.entity.GoodsSkuEntity"
            useGeneratedKeys="true">
        insert into goods_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uniqueId != null">
                unique_id,
            </if>
            <if test="goodsUniqueId != null">
                goods_unique_id,
            </if>
            <if test="goodsStock != null">
                goods_stock,
            </if>
            <if test="stockUnit != null">
                stock_unit,
            </if>
            <if test="smallImg != null">
                small_img,
            </if>
            <if test="bindProperty != null">
                bind_property,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uniqueId != null">
                #{uniqueId},
            </if>
            <if test="goodsUniqueId != null">
                #{goodsUniqueId},
            </if>
            <if test="goodsStock != null">
                #{goodsStock},
            </if>
            <if test="stockUnit != null">
                #{stockUnit},
            </if>
            <if test="smallImg != null">
                #{smallImg},
            </if>
            <if test="bindProperty != null">
                #{bindProperty},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.GoodsSkuEntity">
        update goods_sku
        <set>
            <if test="uniqueId != null">
                unique_id = #{uniqueId},
            </if>
            <if test="goodsUniqueId != null">
                goods_unique_id = #{goodsUniqueId},
            </if>
            <if test="goodsStock != null">
                goods_stock = #{goodsStock},
            </if>
            <if test="stockUnit != null">
                stock_unit = #{stockUnit},
            </if>
            <if test="smallImg != null">
                small_img = #{smallImg},
            </if>
            <if test="bindProperty != null">
                bind_property = #{bindProperty},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>