<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.KvStoreDao">

    <insert id="save" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.KvStoreEntity"
            useGeneratedKeys="true">
        insert into kv_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="keyFlag != null">
                key_flag,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="storeValue != null">
                store_value,
            </if>
            <if test="keyDescription != null">
                key_description,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="keyFlag != null">
                #{keyFlag},
            </if>
            <if test="firstName != null">
                #{firstName},
            </if>
            <if test="lastName != null">
                #{lastName},
            </if>
            <if test="storeValue != null">
                #{storeValue},
            </if>
            <if test="keyDescription != null">
                #{keyDescription},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.KvStoreEntity">
        update kv_store
        <set>
            <if test="keyFlag != null">
                key_flag = #{keyFlag},
            </if>
            <if test="firstName != null">
                first_name = #{firstName},
            </if>
            <if test="lastName != null">
                last_name = #{lastName},
            </if>
            <if test="storeValue != null">
                store_value = #{storeValue},
            </if>
            <if test="keyDescription != null">
                key_description = #{keyDescription},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where unique_id = #{uniqueId}
    </update>

    <select id="getByKeyFlag" resultType="cn.shop.mall.center.entity.KvStoreEntity">
        select * from kv_store where deleted = 0 and key_flag = #{keyFlag}
    </select>

    <select id="getById" resultType="cn.shop.mall.center.entity.KvStoreEntity">
        select * from kv_store where deleted = 0 and unique_id = #{uniqueId}
    </select>

    <select id="list" resultType="cn.shop.mall.center.entity.KvStoreEntity">
        select * from kv_store
        <where>
            <if test="true">
                and deleted = 0
            </if>
            <if test="keyFlag != null and keyFlag != ''">
                and key_flag like concat('%', #{keyFlag}, '%')
            </if>
        </where>
        order by create_date desc
        limit #{offset},#{limit}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1) from kv_store
        <where>
            <if test="true">
                and deleted = 0
            </if>
            <if test="keyFlag != null and keyFlag != ''">
                and key_flag like concat('%', #{keyFlag}, '%')
            </if>
        </where>
    </select>

    <update id="deleteByIds">
        update kv_store set deleted = 1 where unique_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>