<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.MenuDao">

    <insert id="save" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.MenuEntity"
            useGeneratedKeys="true">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentUniqueId != null">
                parent_unique_id,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="menuUrl != null">
                menu_url,
            </if>
            <if test="menuType != null">
                menu_type,
            </if>
            <if test="sortNumber != null">
                sort_number,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentUniqueId != null">
                #{parentUniqueId},
            </if>
            <if test="menuName != null">
                #{menuName},
            </if>
            <if test="menuUrl != null">
                #{menuUrl},
            </if>
            <if test="menuType != null">
                #{menuType},
            </if>
            <if test="sortNumber != null">
                #{sortNumber},
            </if>
            <if test="icon != null">
                #{icon},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.MenuEntity">
        update menu
        <set>
            <if test="parentUniqueId != null">
                parent_unique_id = #{parentUniqueId},
            </if>
            <if test="menuName != null">
                menu_name = #{menuName},
            </if>
            <if test="menuUrl != null">
                menu_url = #{menuUrl},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType},
            </if>
            <if test="sortNumber != null">
                sort_number = #{sortNumber},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where unique_id = #{uniqueId}
    </update>

    <select id="listAllMenu" resultType="cn.shop.mall.center.entity.MenuEntity">
        select * from menu where deleted = 0
    </select>

    <select id="listAll" resultType="cn.shop.mall.center.entity.MenuEntity">
        select unique_id as uniqueId,menu_name as name,parent_unique_id as parentUniqueId from menu where deleted = 0
    </select>

    <select id="listMenuByUserId" resultType="cn.shop.mall.center.entity.MenuEntity">
        select * from menu where unique_id in
        (
            select menu_unique_id from menu_role where role_unique_id in
            (
                select role_unique_id from role_user where user_unique_id = #{userId}
            )
        )
        and deleted = 0
    </select>

    <select id="listMenuByType" resultType="cn.shop.mall.center.entity.MenuEntity">
        select * from menu where menu_type = #{menuType} and deleted = 0
    </select>

    <select id="list" resultType="cn.shop.mall.center.entity.MenuEntity">
        select a.*,b.menu_name as parentMenuName from menu as a left join menu as b on a.parent_unique_id = b.unique_id
        <where>
            <if test="true">
                and a.deleted = 0
            </if>
            <if test="menuName != null and menuName != ''">
                and a.menu_name like concat('%', #{menuName}, '%')
            </if>
            <if test="menuType != null and menuType != ''">
                and a.menu_type = #{menuType}
            </if>
        </where>
        order by a.create_date desc
        limit #{offset},#{limit}
    </select>

    <select id="getById" resultType="cn.shop.mall.center.entity.MenuEntity">
        select a.*,b.menu_name as parentMenuName from menu as a left join menu as b on a.parent_unique_id = b.unique_id
        where a.unique_id = #{uniqueId}
        and a.deleted = 0
    </select>

    <update id="deleteByIds">
        update menu set deleted = 1 where unique_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="count" resultType="java.lang.Long">
        select count(1) from menu
        <where>
            <if test="true">
                and deleted = 0
            </if>
            <if test="menuName != null and menuName != ''">
                and menu_name like concat('%', #{menuName}, '%')
            </if>
            <if test="menuType != null and menuType != ''">
                and menu_type = #{menuType}
            </if>
        </where>
    </select>
</mapper>