<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.MenuRoleDao">

    <insert id="save" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.MenuRoleEntity"
            useGeneratedKeys="true">
        insert into menu_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuUniqueId != null">
                menu_unique_id,
            </if>
            <if test="roleUniqueId != null">
                role_unique_id,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuUniqueId != null">
                #{menuUniqueId},
            </if>
            <if test="roleUniqueId != null">
                #{roleUniqueId},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <insert id="batchSave" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.MenuRoleEntity"
            useGeneratedKeys="true">
        <foreach collection="list" item="item" index="index" separator=";">
        insert into menu_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.menuUniqueId != null">
                menu_unique_id,
            </if>
            <if test="item.roleUniqueId != null">
                role_unique_id,
            </if>
            <if test="item.deleted != null">
                deleted,
            </if>
            <if test="item.createDate != null">
                create_date,
            </if>
            <if test="item.updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="item.menuUniqueId != null">
                #{item.menuUniqueId},
            </if>
            <if test="item.roleUniqueId != null">
                #{item.roleUniqueId},
            </if>
            <if test="item.deleted != null">
                #{item.deleted},
            </if>
            <if test="item.createDate != null">
                #{item.createDate},
            </if>
            <if test="item.updateDate != null">
                #{item.updateDate},
            </if>
        </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.MenuRoleEntity">
        update menu_role
        <set>
            <if test="uniqueId != null">
                unique_id = #{uniqueId},
            </if>
            <if test="menuUniqueId != null">
                menu_unique_id = #{menuUniqueId},
            </if>
            <if test="roleUniqueId != null">
                role_unique_id = #{roleUniqueId},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where unique_id = #{uniqueId}
    </update>

    <update id="deleteByRoleIds">
        update menu_role
        set deleted = 1
        where role_unique_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="listByRoleId" resultType="cn.shop.mall.center.entity.MenuRoleEntity">
        select * from menu_role where role_unique_id = #{roleId} and deleted = 0
    </select>
</mapper>