<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.OrderAccountDao">

    <insert id="save" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.OrderAccountEntity"
            useGeneratedKeys="true">
        insert into order_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderUniqueId != null">
                order_unique_id,
            </if>
            <if test="goodsUniqueId != null">
                goods_unique_id,
            </if>
            <if test="goodsSkuUniqueId != null">
                goods_sku_unique_id,
            </if>
            <if test="singlePrice != null">
                single_price,
            </if>
            <if test="buyNumber != null">
                buy_number,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="accountRemark != null">
                account_remark,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderUniqueId != null">
                #{orderUniqueId},
            </if>
            <if test="goodsUniqueId != null">
                #{goodsUniqueId},
            </if>
            <if test="goodsSkuUniqueId != null">
                #{goodsSkuUniqueId},
            </if>
            <if test="singlePrice != null">
                #{singlePrice},
            </if>
            <if test="buyNumber != null">
                #{buyNumber},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="accountRemark != null">
                #{accountRemark},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <insert id="saveBatch" parameterType="cn.shop.mall.center.entity.OrderAccountEntity">
        insert into order_account(
            order_unique_id, goods_unique_id, goods_sku_unique_id,
            single_price, buy_number, deleted, account_remark,
            create_date,  update_date)
        <foreach collection="list" item="item" open="values " separator=",">
            (#{item.orderUniqueId}, #{item.goodsUniqueId},
            #{item.goodsSkuUniqueId},  #{item.singlePrice},
            #{item.buyNumber}, #{item.deleted}, #{item.accountRemark},
            #{item.createDate}, #{item.updateDate})
        </foreach>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.OrderAccountEntity">
        update order_account
        <set>
            <if test="orderUniqueId != null">
                order_unique_id = #{orderUniqueId},
            </if>
            <if test="goodsUniqueId != null">
                goods_unique_id = #{goodsUniqueId},
            </if>
            <if test="goodsSkuUniqueId != null">
                goods_sku_unique_id = #{goodsSkuUniqueId},
            </if>
            <if test="singlePrice != null">
                single_price = #{singlePrice},
            </if>
            <if test="buyNumber != null">
                buy_number = #{buyNumber},
            </if>
            <if test="accountRemark != null">
                account_remark = #{accountRemark},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where unique_id = #{uniqueId}
    </update>

    <select id="listByOrderId" resultType="cn.shop.mall.center.entity.OrderAccountEntity">
        select a.*, b.goods_name, b.big_imgs from order_account a, goods b
        <where>
            a.goods_unique_id=b.unique_id
            <if test="orderUniqueId != null">
                and a.order_unique_id = #{orderUniqueId}
            </if>
        </where>
    </select>

</mapper>