<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.RoleUserDao">

    <insert id="save" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.RoleUserEntity"
            useGeneratedKeys="true">
        insert into role_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userUniqueId != null">
                user_unique_id,
            </if>
            <if test="roleUniqueId != null">
                role_unique_id,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userUniqueId != null">
                #{userUniqueId},
            </if>
            <if test="roleUniqueId != null">
                #{roleUniqueId},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <insert id="batchSave" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.RoleUserEntity"
            useGeneratedKeys="true">
        <foreach collection="list" item="item" index="index" separator=";">
        insert into role_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="item.userUniqueId != null">
                user_unique_id,
            </if>
            <if test="item.roleUniqueId != null">
                role_unique_id,
            </if>
            <if test="item.deleted != null">
                deleted,
            </if>
            <if test="item.createDate != null">
                create_date,
            </if>
            <if test="item.updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="item.userUniqueId != null">
                #{item.userUniqueId},
            </if>
            <if test="item.roleUniqueId != null">
                #{item.roleUniqueId},
            </if>
            <if test="item.deleted != null">
                #{item.deleted},
            </if>
            <if test="item.createDate != null">
                #{item.createDate},
            </if>
            <if test="item.updateDate != null">
                #{item.updateDate},
            </if>
        </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.RoleUserEntity">
        update role_user
        <set>
            <if test="userUniqueId != null">
                user_unique_id = #{userUniqueId},
            </if>
            <if test="roleUniqueId != null">
                role_unique_id = #{roleUniqueId},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where unique_id = #{uniqueId}
    </update>

    <update id="deleteByUserId">
        update role_user set deleted = 1
        where user_unique_id = #{userUniqueId}
    </update>

    <select id="listByUserId" resultType="cn.shop.mall.center.entity.RoleUserEntity">
        select * from role_user where user_unique_id = #{userId} and deleted = 0
    </select>
</mapper>