<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.center.dao.RoleDao">

    <insert id="save" keyColumn="unique_id" keyProperty="uniqueId" parameterType="cn.shop.mall.center.entity.RoleEntity"
            useGeneratedKeys="true">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleRemark != null">
                role_remark,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                #{roleName},
            </if>
            <if test="roleRemark != null">
                #{roleRemark},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.shop.mall.center.entity.RoleEntity">
        update role
        <set>
            <if test="roleName != null">
                role_name = #{roleName},
            </if>
            <if test="roleRemark != null">
                role_remark = #{roleRemark},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where unique_id = #{uniqueId}
    </update>

    <select id="listAll" resultType="cn.shop.mall.center.entity.RoleEntity">
        select * from role where deleted = 0
    </select>

    <select id="list" resultType="cn.shop.mall.center.entity.RoleEntity">
        select * from role
        <where>
            <if test="true">
                and deleted = 0
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
        </where>
        order by create_date desc
        limit #{offset},#{limit}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1) from role
        <where>
            <if test="true">
                and deleted = 0
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
        </where>
    </select>

    <select id="getById" resultType="cn.shop.mall.center.entity.RoleEntity">
        select * from role
        where deleted = 0 and unique_id = #{uniqueId}
    </select>

    <update id="deleteByIds">
        update role set deleted = 1 where unique_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>