<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.mall.biz.dao.KvStoreDao">

    <insert id="save" keyColumn="id" keyProperty="id" parameterType="cn.shop.mall.biz.entity.KvStoreEntity"
            useGeneratedKeys="true">
        insert into kv_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uniqueId != null">
                unique_id,
            </if>
            <if test="key != null">
                key,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="value != null">
                value,
            </if>
            <if test="keyDescription != null">
                key_description,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uniqueId != null">
                #{uniqueId},
            </if>
            <if test="key != null">
                #{key},
            </if>
            <if test="firstName != null">
                #{firstName},
            </if>
            <if test="lastName != null">
                #{lastName},
            </if>
            <if test="value != null">
                #{value},
            </if>
            <if test="keyDescription != null">
                #{keyDescription},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.shop.mall.biz.entity.KvStoreEntity">
        update kv_store
        <set>
            <if test="uniqueId != null">
                unique_id = #{uniqueId},
            </if>
            <if test="key != null">
                key = #{key},
            </if>
            <if test="firstName != null">
                first_name = #{firstName},
            </if>
            <if test="lastName != null">
                last_name = #{lastName},
            </if>
            <if test="value != null">
                value = #{value},
            </if>
            <if test="keyDescription != null">
                key_description = #{keyDescription},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>